<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <title>
        Chatroom
    </title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1 align='center'>
        Welcome
    </h1>
    <div id='chat'>
    </div>
    <footer id='textbox'>
        <input class="message" id="message" type="text" placeholder="Type your message here .. ">
        <input class="send" id="send" value="send" type="submit">
    </footer>

    <script src='https://code.jquery.com/jquery-latest.min.js'></script>
    <script src='chat.js'></script>
</body>

</html>